
  <tr>
    <td><%= user_form.label :name %></td>
    <td><%= user_form.text_field  :username %></td>
  </tr>
  <tr>
    <td><%= user_form.label :password %></td>
    <td><%= user_form.text_field  :password %></td>    
  </tr>
